/* --------- Basic Setup --------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #f8f4f4;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* --------- Reusable Components --------- */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}




/* --------- Heading --------- */
h1 {
    font-weight: 700;
    font-size: 240%;
    color: #cacacafb;
}

.line {
    position: relative;
    margin-bottom: 12px;
}

h3 {
    color: #888585;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 80%;
    letter-spacing: 2px;
}

h3::after {
    content: '';
    background-color: #18d26e;
    height: 1px;
    width: 120px;
    position: absolute;
    top: 50%;
    left: 9%;
}

h2 {
    color: #000;
    font-size: 180%;
}

/* --------- Button Section --------- */
.btn {
    border: 1px solid transparent;
    background-color: #18d26e;
    color: #f8f4f4;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 80%;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.5s;
}

.btn:hover {
    background-color: #17b57d;
}



/* --------- Header Section --------- */
header {
    background-image: url(img/header-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

nav {
    margin-bottom: 50px;
}

.main-logo {
    float: left;
    margin-top: 20px;
    color: #f8f4f4;
    font-weight: 700;
    font-size: 150%;
    /* font-family: 'Open Sans', sans-serif; */
}

.main-nav {
    float: right;
    margin-top: 20px;
}

.main-nav li {
    position: relative;
    
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
}

.main-nav li a {
    transition: color 0.5s;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #888585;
    font-weight: 600;
    font-size: 80%;
    
}

.main-nav li a:hover,
.main-nav li a:active,
.main-nav li a:focus {
    color: #f8f4f4;
}

.main-nav li a::before {
    content: '';
    height: 2px;
    width: 0;
    background-color: #18d26e;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.5s;
}

.main-nav li a:hover::before,
.main-nav li a:focus::before {
    width: 23px;
}

.hero-img {
    width: 100%;
}

.hero-wrapper {
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.hero-text-box p {
    font-size: 120%;
    font-weight: 400;
    line-height: 200%;
    color: #bbbaba;
}

.hero-btn-box {
    margin-top: 50px;
}

/* --------- Features Section --------- */
#features p {
    color: #000;
    font-weight: bold;
    font-size: 90%;
    display: inline-block;
}

#features i{
    font-size: 150%;
   margin-right: 12px;
}

.yellow {
    color: #f7a611;
}

.blue {
    color: #6868e2;
}

.red {
    color: rgb(179, 17, 79);
}

.purple {
    color: #b864b8;
}

.pale-blue {
    color: #1ecece;
}
.orange {
    color: #f1a239;
}
.green {
    color: #0fdee6;
}
.dark-blue {
    color: #37379e;
}

.feature-wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f5f0f0;
    transition: all 1.5s;
    
}

.feature-wrapper:hover {
    background-color: #d4cece;
}


/* --------- Members Section --------- */
.member-section {
    background-color: #f5f0f0;
}

.member-wrapper {
    
    padding: 40px 20px 20px;
    text-align: center;
    background-color: #fff;
    position: relative;
}

.number {
    color:#000 ;
    font-weight: 600;
    font-size: 200%;
    letter-spacing: 1px;
}

.club-name {
    color: #000;
    font-size: 80%;
    letter-spacing: 1px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #18d26e;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    left: 40%;
}


/* ---------- Rules Section --------- */
.details {
    width: 100%;
}

.rules-section h3 {
    color: #000;
    font-size: 130%;
    margin-bottom: 15px;
}

.rules-section p {
    color: #888585;
    font-size: 80%;
    line-height: 160%;
    font-weight: 400;
    padding-bottom: 15px;
}

.rules {
    padding-bottom: 15px;
}

.rules p {
    display: inline;
    margin-left: 12px;
    
}


.rules i {
    color: #18d26e;
    font-size: 70%;
}
